<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<FORM id="quest_form" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {% for field in form %}
        {% if field.label == "Players" %}
            <div style="overflow: scroll; width : 350px; height : 200px;">
            {{ field.help_text }}<br>
            {{ field }}<br>
            </div>

        {% else %}
            {{ field.help_text }}<br>
            {{ field }}<br><br>
        {% endif %}
    {% endfor %}
    <INPUT type="submit" name="submit" value="Submit" />
</FORM>

</body>
</html>