.top {
    text-align: center;
}

.bot {
    text-align: center;
}

.questinv{
    border: 2px solid;
    border-color: black;
    text-align: center;
    height: 700px;

}

.stats{
    overflow: auto;
    border: 2px solid;
    border-color: black;
    height: 700px;

}

.consolemap{
    border: 2px solid;
    border-color: black;
    height: 700px;

}

.skills{
    margin-top: 50px;
    border: 2px solid;
    border-color: black;
    text-align: center;
    height:200px;
}

.charinfo {
    margin-bottom: 100px;
}

.profession {
    width: 200px;
    height: 200px;
}

.console{
    margin: auto;
    height: 400px;
    border-style: outset;
    background-color: #000000;
    color: #7cfc00;
    overflow: auto;
}