.top {
    text-align: center;
}

.bot {
    text-align: center;
}

.questinv{
    border: 2px solid;
    border-color: black;
    text-align: center;
    height: 700px;

}

.stats{
    overflow: auto;
    border: 2px solid;
    border-color: black;
    height: 700px;

}

.console{
    border: 2px solid;
    border-color: black;
    text-align: center;
    background-color: #0e90d2;
    height: 700px;

}

.skills{
    margin-top: 50px;
    border: 2px solid;
    border-color: black;
    text-align: center;
    height:200px;
}

.charinfo {
    margin-bottom: 100px;
}

.profession {
    width: 200px;
    height: 200px;
}